* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #141414;
}
.hero{
    background-color: transparent;    
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.home-page{
    background-image: url(https://occ-0-8407-92.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABcIFFHqGrDletH1OSvfXQGpiRFbGRJKYKoYOu_EczGNAgalhWFdfvwg3pF86qtuHZu6x_o3S6-t1_WIJ6_Q-FtfCyPCi6qMzXVJ2.jpg?r=00f);
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: flex-end;
}
.home-page h2{
    color: white;
    font-size: 20px;
    padding-left: 80px;
}


.browse-nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.browse-nav h1{
    color: #E50914;
}
#netflixtxt1{
     color: #E50914;  
     padding-top: 30%;
}
.left-nav{
     display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 60px;
}
.right-nav{
     display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-left: 180px;
}

img{
    height: 30px;
    width: 30px;
    border-radius: 2px;

}
#nav1{
    color: white;
    text-decoration: none;

}

.inner-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 200px;
  width: 300px;
  margin-left: 40px;
  padding-bottom: 80px;
}

#play1{
   
    height: 40px;
    width: 120px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 22px;
    border: 2px solid transparent;
    transition: transform 0.2s ease;
    cursor: pointer;

}
#play1:hover{
    transform: scale(1.1);
}
#info1{
    border: 2px solid transparent;
    height: 40px;
    width: 140px;
    color: white;
    background-color: grey;
    border-radius: 5px;
    font-size: 18px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

#info1:hover{
    transform: scale(1.1);
}
.ST-logo{
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-top: 260px;
}
.ST-logo img{
    height: 200px;
    width: 250px;
    border-radius: 5px;
}
.scroll-div{
    display: flex;

}

.trendingtxt1{
    padding-top: 20px;
    color: white;
    font-size: 20px;
    padding-left: 65px;
 
}


.movies{
    display: flex;
    overflow-x: hidden;
scroll-behavior: smooth;
-ms-overflow-style: none;
    padding-left: 70px;
     gap: 30px;
    
     
}

.movies ::-webkit-scrollbar{
    display: none;
    padding-right: 20px;
}

.card {
    position: relative;
    min-width: 160px;
    height: 170px;
    border-radius: 5px;
    flex: 0 0 auto;
    overflow: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

 
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   transition: transform 0.4s ease;
   border-radius: 7%;
}

.card :hover{
     transform: translateY(-6px) scale(1.10);
  box-shadow: 0 18px 35px rgba(0,0,0,0.6);
}

#left-scroll{
     background-color: transparent;
     border: 2px solid transparent;
     font-size: 30px;
     transition: transform 0.2s ease;
     
}

#left-scroll :hover{
    transform: scale(2.1);
}
#right-scroll{
     background-color: transparent;
     border: 2px solid transparent;
     font-size: 30px;
     transition: transform 0.2s ease;
}

#right-scroll :hover{
    transform: scale(2.1);
}